av==11.0.0
humanfriendly==10.0
hydra-core==1.3.2
joblib==1.2.0
librosa==0.10.1
matplotlib==3.8.0
modelscope==1.12.0
numpy==1.26.4
omegaconf==2.3.0
pytorch_wpe==0.0.1
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
resampy==0.4.2
scikit_learn==1.3.0
setuptools==51.0.0.post20201207
soundcard==0.4.2
soundfile==0.12.1
termcolor==2.4.0
torch==2.1.2
torch==2.2.0
torch_complex==0.4.3
torchinfo==1.8.0
tqdm==4.54.1
tqdm==4.66.2
visualdl==2.5.3
